In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder



data= {'State': ['Maharestra', 'TN', 'Delhi', 'K','G','U']}
df=pd.DataFrame(data,columns=['State'])

labelencoder = LabelEncoder()

df['state'] = labelencoder.fit_transform(df['State'])
df


color= {'colors': ['red','green','blue','red']}
df1=pd.DataFrame(color,columns=['colors'])
labelencoder = LabelEncoder()

df1['color'] = labelencoder.fit_transform(df1['colors'])
df1

  colors  color
0    red      2
1  green      1
2   blue      0
3    red      2

In [21]:
#************************************************************************#
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

data= {'country': ['Germany', 'India', 'Uk', 'Egypt','Iran'],
       'continent': ['Europe', 'Asia', 'Europe', 'Africa','Asia'],
       'code': ['G', 'I', 'U', 'E','N']}
ex_4=pd.DataFrame(data,columns=['country','continent','code'])

labelencoder = LabelEncoder()
ex_4['Leabeled_continent'] = labelencoder.fit_transform(ex_4['continent'])
ex_4

   country continent code  Leabeled_continent
0  Germany    Europe    G                   2
1    India      Asia    I                   1
2       Uk    Europe    U                   2
3    Egypt    Africa    E                   0
4     Iran      Asia    N                   1

In [20]:
#************************************************************************#
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

data= {'Fruit': ['Apple', 'Graphs', 'Banana', 'Strawberry','Pineapple','Kiwi'],
       'Color': ['Red', 'Black', 'Yellow', 'Red','Yellow','Green']}
ex_5=pd.DataFrame(data,columns=['Fruit','Color'])

labelencoder = LabelEncoder()
ex_5['Encode_color'] = labelencoder.fit_transform(ex_5['Color'])
ex_5

        Fruit   Color  Encode_color
0       Apple     Red             2
1      Graphs   Black             0
2      Banana  Yellow             3
3  Strawberry     Red             2
4   Pineapple  Yellow             3
5        Kiwi   Green             1

In [38]:
#************************************************************************#
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

data= {'Occupation': ['Programmers', 'Data Scientist', 'Engineer', 'Manager','Ceo']}
ex_8=pd.DataFrame(data,columns=['Occupation'])

labelencoder = LabelEncoder()
ex_8['Occupation'] = labelencoder.fit_transform(ex_8['Occupation'])
ex_8

   Occupation
0           4
1           1
2           2
3           3
4           0

In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

dataset = pd. read_csv( '/content/Book3.csv')
print(dataset)

labelencoder = LabelEncoder()

dataset['Outlook'] = labelencoder.fit_transform(dataset['Outlook'])
dataset['Outlook'] = labelencoder.fit_transform(dataset['Outlook'])

dataset

   Day   Outlook    Wind PlayTennis
0    1     Sunny    Weak         No
1    2     Sunny  Strong         No
2    3  Overcast    Weak        Yes
3    4      Rain    Weak        Yes
4    5      Rain    Weak        Yes
5    6      Rain  Strong         No
6    7  Overcast  Strong        Yes

   Day  Outlook    Wind PlayTennis
0    1        2    Weak         No
1    2        2  Strong         No
2    3        0    Weak        Yes
3    4        1    Weak        Yes
4    5        1    Weak        Yes
5    6        1  Strong         No
6    7        0  Strong        Yes

In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

dataset = pd. read_csv( '/content/Book4.csv')
print(dataset)

labelencoder = LabelEncoder()

dataset['Outlook'] = labelencoder.fit_transform(dataset['Outlook'])
dataset['Temperature'] = labelencoder.fit_transform(dataset['Temperature'])
dataset['Humidity'] = labelencoder.fit_transform(dataset['Humidity'])
dataset['Wind'] = labelencoder.fit_transform(dataset['Wind'])

dataset

  Day   Outlook Temperature Humidity    Wind Play Tennis
0  D1     Sunny         Hot     High    Weak          No
1  D2     Sunny         Hot     High  Strong          No
2  D3  Overcast         Hot     High    Weak         Yes
3  D4      Rain        Mild     High    Weak         Yes
4  D5      Rain        Cool   Normal    Weak         Yes
5  D6      Rain        Cool   Normal  Strong          No

  Day  Outlook  Temperature  Humidity  Wind Play Tennis
0  D1        2            1         0     1          No
1  D2        2            1         0     0          No
2  D3        0            1         0     1         Yes
3  D4        1            2         0     1         Yes
4  D5        1            0         1     1         Yes
5  D6        1            0         1     0          No