In [4]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/Sem 6/prac 1/Covid cases in India.xlsx')
df.dtypes
print(df)

    S. No.                        Name of State / UT  ...  Recovered  Deaths
0      1.0                               Maharashtra  ...       3800     779
1      2.0                                   Gujarat  ...       2091     472
2      3.0                                     Delhi  ...       2020      68
3      4.0                                Tamil Nadu  ...       1824      44
4      5.0                                 Rajasthan  ...       2176     107
5      6.0                            Madhya Pradesh  ...       1480     211
6      7.0                             Uttar Pradesh  ...       1499      74
7      8.0                            Andhra Pradesh  ...        887      44
8      9.0                               West Bengal  ...        372     171
9     10.0                                    Punjab  ...        157      31
10    11.0                                 Telangana  ...        751      30
11    12.0                         Jammu and Kashmir  ...        368       9
12    13.0                                 Karnataka  ...        386      30
13    14.0                                   Haryana  ...        290       9
14    15.0                                     Bihar  ...        318       5
15    16.0                                    Kerala  ...        485       4
16    17.0                                    Odisha  ...         68       3
17    18.0                                Chandigarh  ...         24       2
18    19.0                                 Jharkhand  ...         78       3
19    20.0                                   Tripura  ...          2       0
20    21.0                               Uttarakhand  ...         46       1
21    22.0                                     Assam  ...         35       1
22    23.0                              Chhattisgarh  ...         43       0
23    24.0                          Himachal Pradesh  ...         35       3
24    25.0                                    Ladakh  ...         18       0
25    26.0               Andaman and Nicobar Islands  ...         33       0
26    27.0                                 Meghalaya  ...         10       1
27    28.0                                Puducherry  ...          8       0
28    29.0                                       Goa  ...          7       0
29    30.0                                   Manipur  ...          2       0
30    31.0                                   Mizoram  ...          1       0
31    32.0                         Arunachal Pradesh  ...          1       0
32    33.0  Dadra and Nagar Haveli and Daman and Diu  ...          0       0
33     NaN                                     Total  ...      19315    2102

[34 rows x 6 columns]

In [7]:
colums = df.columns

In [8]:
df.columns[1:3]

Index(['Name of State / UT', 'TotalConfirmedCases'], dtype='object')

In [10]:
df[['Recovered','Deaths']]

    Recovered  Deaths
0        3800     779
1        2091     472
2        2020      68
3        1824      44
4        2176     107
5        1480     211
6        1499      74
7         887      44
8         372     171
9         157      31
10        751      30
11        368       9
12        386      30
13        290       9
14        318       5
15        485       4
16         68       3
17         24       2
18         78       3
19          2       0
20         46       1
21         35       1
22         43       0
23         35       3
24         18       0
25         33       0
26         10       1
27          8       0
28          7       0
29          2       0
30          1       0
31          1       0
32          0       0
33      19315    2102

In [12]:
new_df = df[df.columns[1:3]]
new_df

                          Name of State / UT  TotalConfirmedCases
0                                Maharashtra                20228
1                                    Gujarat                 7797
2                                      Delhi                 6542
3                                 Tamil Nadu                 6535
4                                  Rajasthan                 3741
5                             Madhya Pradesh                 3457
6                              Uttar Pradesh                 3373
7                             Andhra Pradesh                 1930
8                                West Bengal                 1786
9                                     Punjab                 1762
10                                 Telangana                 1163
11                         Jammu and Kashmir                  836
12                                 Karnataka                  794
13                                   Haryana                  675
14                                     Bihar                  629
15                                    Kerala                  506
16                                    Odisha                  352
17                                Chandigarh                  169
18                                 Jharkhand                  156
19                                   Tripura                  135
20                               Uttarakhand                   67
21                                     Assam                   62
22                              Chhattisgarh                   59
23                          Himachal Pradesh                   52
24                                    Ladakh                   42
25               Andaman and Nicobar Islands                   33
26                                 Meghalaya                   13
27                                Puducherry                   10
28                                       Goa                    7
29                                   Manipur                    2
30                                   Mizoram                    1
31                         Arunachal Pradesh                    1
32  Dadra and Nagar Haveli and Daman and Diu                    1
33                                     Total                62916

In [13]:
df[10:16]

    S. No. Name of State / UT  TotalConfirmedCases  Active  Recovered  Deaths
10    11.0          Telangana                 1163     382        751      30
11    12.0  Jammu and Kashmir                  836     459        368       9
12    13.0          Karnataka                  794     377        386      30
13    14.0            Haryana                  675     376        290       9
14    15.0              Bihar                  629     306        318       5
15    16.0             Kerala                  506      17        485       4

In [14]:
new_df = df[10:16]
new_df

    S. No. Name of State / UT  TotalConfirmedCases  Active  Recovered  Deaths
10    11.0          Telangana                 1163     382        751      30
11    12.0  Jammu and Kashmir                  836     459        368       9
12    13.0          Karnataka                  794     377        386      30
13    14.0            Haryana                  675     376        290       9
14    15.0              Bihar                  629     306        318       5
15    16.0             Kerala                  506      17        485       4

In [19]:
col1 = ['Name of State / UT','Active']
new_df = df[col1]
new_df

                          Name of State / UT  Active
0                                Maharashtra   15649
1                                    Gujarat    5234
2                                      Delhi    4454
3                                 Tamil Nadu    4667
4                                  Rajasthan    1458
5                             Madhya Pradesh    1766
6                              Uttar Pradesh    1800
7                             Andhra Pradesh     999
8                                West Bengal    1243
9                                     Punjab    1574
10                                 Telangana     382
11                         Jammu and Kashmir     459
12                                 Karnataka     377
13                                   Haryana     376
14                                     Bihar     306
15                                    Kerala      17
16                                    Odisha     281
17                                Chandigarh     143
18                                 Jharkhand      75
19                                   Tripura     133
20                               Uttarakhand      20
21                                     Assam      26
22                              Chhattisgarh      16
23                          Himachal Pradesh      11
24                                    Ladakh      24
25               Andaman and Nicobar Islands       0
26                                 Meghalaya       2
27                                Puducherry       2
28                                       Goa       0
29                                   Manipur       0
30                                   Mizoram       0
31                         Arunachal Pradesh       0
32  Dadra and Nagar Haveli and Daman and Diu       1
33                                     Total   41495

In [20]:
new_df.head()

  Name of State / UT  Active
0        Maharashtra   15649
1            Gujarat    5234
2              Delhi    4454
3         Tamil Nadu    4667
4          Rajasthan    1458

In [21]:
df
df['Active']>500

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
Name: Active, dtype: bool

In [22]:
df.loc[df['Active']>500]

    S. No. Name of State / UT  TotalConfirmedCases  Active  Recovered  Deaths
0      1.0        Maharashtra                20228   15649       3800     779
1      2.0            Gujarat                 7797    5234       2091     472
2      3.0              Delhi                 6542    4454       2020      68
3      4.0         Tamil Nadu                 6535    4667       1824      44
4      5.0          Rajasthan                 3741    1458       2176     107
5      6.0     Madhya Pradesh                 3457    1766       1480     211
6      7.0      Uttar Pradesh                 3373    1800       1499      74
7      8.0     Andhra Pradesh                 1930     999        887      44
8      9.0        West Bengal                 1786    1243        372     171
9     10.0             Punjab                 1762    1574        157      31
33     NaN              Total                62916   41495      19315    2102

In [23]:
df.loc[df['Active']>500,['Name of State / UT','Active','Deaths']]

   Name of State / UT  Active  Deaths
0         Maharashtra   15649     779
1             Gujarat    5234     472
2               Delhi    4454      68
3          Tamil Nadu    4667      44
4           Rajasthan    1458     107
5      Madhya Pradesh    1766     211
6       Uttar Pradesh    1800      74
7      Andhra Pradesh     999      44
8         West Bengal    1243     171
9              Punjab    1574      31
33              Total   41495    2102

In [24]:
df.loc[df['Deaths'].max()]

KeyError: ignored